:root {
    --font-primary-color:#8a75ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;

}

body {
    font-size: 1.6rem;
}


div#css__container {
    width: 70%;
    min-height: 300px;
    margin: 200px auto 200px auto;
    background-color: paleturquoise;
}

div#css__container .box__container {
    margin: 10px;
    padding: 20px;
    background-color: palevioletred;
}

div#css__container .box__container p {
    display: inline-block ;
    margin-top: 20px;
}


div#css__container .nav {
    background-color: plum;
    padding: 20px;
    list-style:none;
    text-align: center;
}
div#css__container .nav li {
    display:inline-block;
    font-size: 2rem;
    margin: 8px 0px;
    padding: 0 20px;
}

.flexbox {
    width: 100%;
    margin-bottom: 500px;
    background-color: palegreen;
    border: 0.3rem purple dotted;
    display: flex;
    flex-wrap: wrap;
}

.flexbox .box {
    width: 10rem;
    height: 10rem;
    color: rgb(36, 36, 36);
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1 {
    background-color: palegoldenrod;

}

.box2 {
    background-color: peachpuff;

}

.box3 {
    background-color: pink;
}

.box4 {
    background-color: purple;
}

.box5 {
    background-color: paleturquoise;
}

.box6 {
    background-color:var(--font-primary-color);
}


.mostlyfluid {
    min-width: 30rem;
    min-height: 30rem;
    background-color: #535353;
    display: flex;
    flex-wrap: 	wrap;
}

.box {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}

.mf1 {
    background-color: plum;
}


.mf2 {
    background-color: palegreen;
}

.mf3 {
    background-color: paleturquoise;
}

.mf4 {
    background-color: peru;
}

.mf5 {
    background-color: plum;
}

.flexboxh2 {
    margin: 20rem auto;
}

.layoutshifter {

    min-width: 30rem;
    min-height: 30rem;
    background-color: #535353;
    display: flex;
    flex-wrap: 	wrap;
}


.ls1 {
    background-color: plum;
}


.ls2 {
    background-color: palegreen;
}

.ls3 {
    background-color: rgba(175, 238, 238, 0.678);
}

.ls4 {
    background-color: peru;
    height: auto;
}

.ls5 {
    background-color: powderblue;
}

.columndrop {
    display: flex;
    flex-wrap: wrap;
}

.cd {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}


.cd1 {
    background-color: plum;
}


.cd2 {
    background-color: palegreen;
}

.cd3 {
    background-color: rgba(175, 238, 238, 0.678);
}

.cd4 {
    background-color: peru;
}

.cd5 {
    background-color: powderblue;
}