* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


div#css__container {
    margin: 220px;
}

#css__container > span {
    margin: 100px 0;
    display: inline-block;
}

#css__container .box__container {
    width: 600px;
    min-height: 700px;
    text-align: center;
}

#css__container .box__container {
    width: 600px;
    min-height: fit-content;
    padding: 0px 20px 20px 20px;
    background-color: palegoldenrod;
    border-radius: 20px;
    border: dotted 2px purple;
}

#css__container .box__container .box-tittle {
    border: 2px solid plum;
    background-color: palevioletred;
    padding: 20px;
    display: inline-block;
    position: relative;
    top: -40px;
}