.box1 {
    background-color: rebeccapurple;
}

.mf2, .mf3, .mf4 {
    width: 50%;
}

.ls1 {
    width: 25%;
}

.ls4 {
    width: 75%;
}

.ls5 {
    width: 100%;
}

.cd1 {
    width: 25%;
    order: 1;
}


.cd2 {
    width: 75%;
    order: 2;
}

.cd3 {
    width: 100%;
    order: 3;
}

.cd4 {
    width: 55%;
    order: 4;
}

.cd5 {
    width: 45%;
    order: 5;
}